p{
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  color: rgb(250, 250, 250);
  font-weight: bold;
  padding-left: 20px;
}
body {
  background-color: #696d72;
}
.proj-img {
  height: 200px;
  width: auto;
}

#workExperience {
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  color: rgb(240, 234, 99);
}
#accomplishments {
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  color: rgb(240, 234, 99);
}
#education {
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  color: rgb(240, 234, 99);
}

.proj1pics {
  float: left;
  clear: both;
  width: 1200px;
}

#sta {
  width: 500px;
  height; auto;
}

#touch{
  height: 400px;
}

#submit{
  background-color: rgb(54, 123, 226);
  font-family: 'Lemonada', cursive;
  color: white;
  text-shadow: horizontal-offset vertical-offset blur color;
}
a {
  font-family: 'Lemonada', cursive;
  font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
  padding-left: 20px;
  font-family: 'Lemonada', cursive;
  color: rgb(250, 250, 250);
}
.proj {
  text-align: center;
}
form {
  font-family: 'Lemonada', cursive;
  color: rgb(250, 250, 250);
  padding-left: 20px;
}

table {
  font-family: 'Lemonada', cursive;
  color: rgb(250, 250, 250);
  border: 1px solid white;
  text-align: left;
  border-spacing: 5px;
  margin-left: 20px;
}
.navbar {
  font-family: sans-serif;
  width: 1260px;
  height: 43px;
  font-size: 20px;
  background-color: rgb(254, 102, 55)
}

nav {
  margin-top: 10px;
  margin-right: 10px;
  float: right;

}

span {
  margin-right: 320px;
  color: white;
  font-family: 'Lemonada';
}

a:visited {
  color: rgb(81, 236, 227);
  text-decoration: none;
}

a:hover {
  color: rgb(238, 237, 73);
  text-decoration: none;
}

nav > a:visited {
  color: white;
}

#chuck {
  margin-left: 130px;
}

nav > a:hover {
  color: black;
  text-decoration: none;
  border: 1px solid black;
}




/*IP ADDRESS: 34.211.41.238*/
